body{
    font-family: 'Amatic SC', cursive;
    background:rgb(139, 114, 114);
     }   
.menu {
    list-style: none;
    padding: 0%;
    background: #092327;
    width: 90%;
    max-width: 1000px;
    margin: auto;

}     
.menu li a {
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
    display: block;
}
.menu li {
    display:inline-block;
    text-align:center;
}
.menu li a:hover{
    background: #ef8354;
}
     
.logo {
    max-width: 5rem;
    max-height: 5rem;
    position:static;

}
        
    body {
        background: #1D202B;
        color: #fff;
        font-family: 'Amatic SC', 'Roboto', sans-serif;
    }
.nombre {
    font-size: 2rem;
    font-weight: bold;
    padding: 5px 1px;
    text-align: center;
    


        
    }
    
    .contenedor {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        padding: 40px 0;

    /*
        display: flex;
        gap: 15px;*/
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px;
    
        
    }
    
    .titulo {
        font-size: 24px;
        padding: 20px 0;
    }
    
    .contenedor-conciertos {
       
       /* width: 75%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px; */
        
         display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    
    .card {
        border-radius: 10px;
        min-height: 200px;
        font-weight: bold;
        padding: 20px;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        /*
        width: 32%; */
        
    }
    
    .card .textos:hover {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* display: grid;
        grid-template-rows: 1fr auto; */

            
    }
    
    .banner {
        border-radius: 10px;
        text-align: center;
        padding: 20px;
        background-size: cover;
        background-position: center center;
       
       
        display: flex;
       
        flex-direction: column;
        justify-content: space-between

         /*
          width: 30px;
          display: grid;
         grid-template-rows: auto auto auto;
         align-items: center; */


    
    
    }
    
    .banner ul {
        list-style: none;
    }
    
    .banner ul li {
        margin: 15px;
        font-weight: bold;
    }
    
    .banner .boton {
        background: #FFD600;
        display: block;
        width: 100%;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        padding: 10px;
        border: none;
        border-radius: 100px;
        font-family: 'Amatic SC' ,'Roboto', sans-serif;
        cursor: pointer;
    }

    @media screen and (max-width: 1024px) {

    }